{% extends "printLayout.html" %}
{% load static %}
{% load humanize %}
{% load custom_tags %}
{% load account_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Receipt</title>
</head>
<body>

{% block contents %}
{% comment %}<script type="text/javascript">

    window.print();

</script>{% endcomment %}
  <a onclick="javascript:printDiv('print')" class="btn btn-outline-info ks-light">Click to print letter</a>
    <div id="print">

    <div class="md-card uk-margin-medium-bottom">
        <div class="md-card-content">
            <div class="row">


        <div class="col-md-12" style="text-align:center">
        <p>
            <img src="https://apply.ttuportal.com/assets/header.jpg" alt="photo"   style="width:1086px;height: auto" style="margin-top: -460px"
             class="ui fluid image"/>
        </p>
           {% if  request.user.username == "751999" %}
{#            <center><strong>OUTREACH FORMS </strong></center>#}
{#            <center><strong>NOT FOR SALE</strong></center>#}
   <center><strong>ADMISSIONS VOUCHER - DATE PURCHASED {{ data.date_sold }}</strong></center>

            {% else %}
                 <center><strong>ADMISSIONS VOUCHER - DATE PURCHASED {{ data.date_sold|date:"M d, Y" }}</strong></center>
            {% endif %}
           <p><strong>PIN CODE: <span  style='color: purple'>{{data.pin}} </span> :
            SERIAL NO: <span style='color:green'>{{data.serial}}</span></strong></p>
             {% if  request.user.username == "751999" %} <p>PRICE : GHC{{ data.amount}} - {{ data.form_type }}</p>
                {% else %}
            <p>PRICE : GHC{{ data.amount}} - {{ data.form_type }}</p>
             {% endif %}


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

            <div>

            &nbsp;
             <p><center><strong>STEPS IN FILLING THE ONLINE FORM</strong></center></p>
                                        <hr>
			<p>All Applicants for 2020/2021 Academic year admission are required to use Takoradi Technical University online admissions portal. The procedure for the online application process is as follows:</p>
			<p>
				<strong>I. </strong>You are kindly advised to use Mozilla Firefox or
				Chrome browser for the online admission form filling
			</p>
			<p>
				<strong>II.</strong>Log on to https://admissions.ttuportal.com
			</p>
			<p>
				<strong>II. </strong>Login with serial number and pin code in the
				receipt you were given
			</p>
			<p>
				<strong>III. </strong>The Serial Number and Pin Code can be used for
				maximum of 10 times after which it will be deactivated
			</p>

			<p>
				<strong>IV. </strong>. In completing the online form, applicants will
				be required to upload their passport size photograph with white background (not more than
				250KB) with a white background.
			</p>
			<p>
				<strong>V.  </strong>Applicants are advised to check thoroughly all
				details entered before they finally submit their online
				applications. A form, once submitted, can be viewed, but cannot be
				edited.
			</p>
			<p>
				<strong>VII.</strong> Applicants should print out application
				summary; attach result slips,certificates (WASSCE/SSSCE)or
				Certificates(BTECH) and all other relevant documents.
			</p>
			<p>
				<strong>VIII. </strong>The application documents as specified (III)
				above should sent by post to
			<p align="center"><strong>The Registrar</strong></p>
                                <p align="center"><strong>Takoradi Technical University,</strong></p>
                                <p align="center"><strong>P. O Box 256, Takoradi, W/R.</strong></p>
 							 <center><p><strong>For more information call 0508333992 / 0553777777 / 0243348522 / 0508335033</strong></p></center>

            </div>

        </div>
    </div>


{% endblock %}

</body>

</html>
