{% load static %}
{% load humanize %}

{% load account_tags %}

<aside id="sidebar_main">

    <div class="sidebar_main_header">
        <div class="sidebar_logo">


        </div>

    </div>
 {% if user.groups.all.0.name  ==  "finance" %}
    <div class="menu_section">
        <ul>
            <li class="current_section" title="Dashboard">
                <a  href="{% url 'dashboard' %}">
                    <span class="menu_icon"><i class="material-icons">home</i></span>
                    <span class="menu_title">Home</span>
                </a>
            </li>
           {% comment %}  <li title="Plugins">
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE8C0;</i></span>
                    <span class="menu_title">Applicants</span>
                </a>
                 <ul>
                    <li><a href="{% url 'applicants_index' %}">View Applicants</a></li>

{#                    <li><a href="#">Applicants Issues</a></li>#}

                </ul>

            </li>{% endcomment %}
             <li title="Plugins">
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE8C0;</i></span>
                    <span class="menu_title">Forms</span>
                </a>
                <ul>
                    <li><a href="{% url 'sell' %}">Sell Form</a></li>

                    <li><a title="eg change frm hnd to btech ..." href="{% url 'changeForm' %}">Change Voucher</a></li>

                    <li><a href="{% url 'suspense' %}">Re-issue voucher</a></li>
                    <li><a href="{% url 'sales' %}">View Sales</a></li>


                </ul>

            </li>



            <li title="Click to Logout">


                <a href="{% url 'logout' %}" class="nav-link text-dark">


                    <span class="menu_icon"><i class="material-icons">logout</i></span>
                    <span class="menu_title">Logout</span>

                </a>


            </li>

        </ul>
    </div>
{% else %}

    <div class="menu_section">
        <ul>
            <li class="current_section" title="Dashboard">
                <a  href="{% url 'dashboard' %}">
                    <span class="menu_icon"><i class="material-icons">home</i></span>
                    <span class="menu_title">Home</span>
                </a>
            </li>
        {% if request.user.groups.all.0.name == 'support' %}
            <li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">person</i></span>
                    <span class="menu_title">Applicants</span>
                </a>
                <ul>
                    <li><a href="{% url 'applicants_index' %}">View Applicants</a></li>

{#                    <li><a href="#">Applicants Issues</a></li>#}

                </ul>
            </li>
    {% endif %}
{% if request.user.groups.all.0.name == 'admin' or  request.user.groups.all.0.name == 'admission' %}
             <li class='dash ' title="Letters">
                    <a href="#">
                        <span class="menu_icon"><i class="uk-icon-list-alt uk-icon-small"></i></span>
                        <span class="menu_title">Letters</span>
                    </a>
                </li>

{% if  request.user.groups.all.0.name == 'admin' or  request.user.groups.all.0.name == 'admission' %}
            <li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">person</i></span>
                    <span class="menu_title">Applicants</span>
                </a>
                <ul>
                    <li><a href="{% url 'applicants_index' %}">View Applicants</a></li>

{#                    <li><a href="#">Applicants Issues</a></li>#}

                </ul>
            </li>
    {% endif %}
{% if request.user.username == '751772'%}
        <li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">person</i></span>
                    <span class="menu_title">Outreach</span>
                </a>
                <ul>
                    <li><a href="{% url 'outreach' %}">Generate Outreach</a></li>

                         <li><a href="{% url 'accelerated' %}">Accelerated Forms</a></li>

                </ul>
            </li>
{% endif %}
            <li class='' title="View Programs">
                    <a href="{% url 'programmes' %}"> <!-- &#xE158;-->
                        <span class="menu_icon"><i class="material-icons">view_list</i></span>
                        <span class="menu_title">Programs</span>
                    </a>
                </li>
                <li class='dash ' title="Hall Management">
                    <a href="{% url 'rooms' %}">
                        <span class="menu_icon"><i class="material-icons">home</i></span>
                        <span class="menu_title">Protocol Rooms</span>
                    </a>
                </li>

             <li class='dash ' title="SMS">
                    <a href="{% url 'messages' %}">
                        <span class="menu_icon"><i class="material-icons">sms</i></span>
                        <span class="menu_title">SMS</span>
                    </a>
                </li>

            <li class='dash ' title="Generate custom reports">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">download</i></span>
                        <span class="menu_title">Downloads Excel</span>
                    </a>
                    <ul>
                    {% comment %}    <li><a href="{% url 'excel' %}">Current Admission Data</a></li>
{% endcomment %}
                        <li><a href="{% url 'show_export_form' %}">Verification Data</a></li>

                        <li><a href="{% url 'download_admission_excel' %}">Admission Statistics</a></li>
                        <li><a href="{% url 'show_gtech_form' %}">GTECH Report</a></li>
                         <li><a href="{% url 'accelerated' %}">Accelerated Forms</a></li>
{#                        <li><a href="{% url 'vocationalSSCE' %}">Wassce/Technical List</a></li>#}



                    </ul>
                </li>



 <li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">person</i></span>
                    <span class="menu_title">User Support</span>
                </a>
                <ul>

                    <li><a href="{% url 'block_unblock' %}">Block or Unblock Applicant</a></li>
{#                    <li><a title="eg change frm hnd to btech ..." href="{% url 'changeForm' %}">Change Voucher</a></li>#}

                    <li><a href="{% url 'upload_photo' %}">Upload Applicant Photo</a></li>

                </ul>
            </li>
    {% if request.user.groups.all.0.name == 'admin'%}
    <li title="Plugins">
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE8C0;</i></span>
                    <span class="menu_title">Settings</span>
                </a>
                <ul>
                    <li><a href="{% url 'calender' %}">Calendar</a></li>

                     <li><a href="{% url 'admin:index' %}">User Management</a></li>


                </ul>

            </li>
        {% endif %}
    {% elif request.user.groups.all.0.name != 'planning'  %}
<li title="Forms">
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">person</i></span>
                    <span class="menu_title">User Support</span>
                </a>
                <ul>

                    <li><a href="{% url 'block_unblock' %}">Block or Unblock Applicant</a></li>
{#                    <li><a title="eg change frm hnd to btech ..." href="{% url 'changeForm' %}">Change Voucher</a></li>#}

                    <li><a href="{% url 'upload_photo' %}">Upload Applicant Photo</a></li>

                </ul>
            </li>

{% endif %}
  {% if request.user.groups.all.0.name != 'admin' or request.user.groups.all.0.name != 'support' or request.user.groups.all.0.name != 'admission'%}
         <li class='dash ' title="Generate custom reports">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">download</i></span>
                        <span class="menu_title">Planning Office</span>
                    </a>
                    <ul>
                        <li><a href="{% url 'applicants_index' %}">View Applicants</a></li>

                        <li><a href="{% url 'show_export_form' %}">Verification Data</a></li>

                        <li><a href="{% url 'download_admission_excel' %}">Admission Statistics</a></li>



                    </ul>
                </li>
{% endif %}
            <li title="Click to Logout">



                <a href="{% url 'logout' %}" class="nav-link text-dark">


                    <span class="menu_icon"><i class="material-icons">logout</i></span>
                    <span class="menu_title">Logout</span>

                </a>




            </li>

        </ul>
    </div>
{% endif %}

</aside><!-- main sidebar end -->