{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load custom_tags %}

{% load account_tags %}
{% block style %}
      <script src="{% static 'assets/js/jquery.min.js' %}"></script>

        <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}" media="all">
<script type="text/javascript">
           //Javascript
$(function()
{
	 $( "#q" ).autocomplete({
	  source: "{% url 'applicant_live_search' %}",
	  minLength: 3,
	  select: function(event, ui) {
	  	$('#q').val(ui.item.value);

	  }
	});
});
        </script>

{% endblock %}

{% block contents %}


    <center> <h3 class="heading_c uk-margin-bottom">Applicant Form settings</h3></center>

    <div align="center">
 <div class="uk-width-small-1-2">
     <div class="md-card">
         <div class="md-card-content" style="height: 300px;">
             <h5 >Search by name, form number, pin,serial,phone number</h5>

               <form method="POST" name="admission" v-form novalidate  action="{% url 'block_unblock' %}">
                    {% csrf_token %}
             <div class="uk-grid" data-uk-grid-margin>

                 <div class="uk-width-medium-1-2">
                     <div class="uk-form-row">
                         <div class="uk-grid" data-uk-grid-margin>
                             <div class="uk-width-1-1">

                                 <center><input   type="text" value="" id="q" class="md-input md-input-success q" required="" name="q" placeholder="begin typing  here... " v-model="q" v-form-ctrl=""/></center>
                             </div>

                         </div>
                     </div>
                     <p>&nbsp;</p>
                     <div class="uk-grid"  >
                         <div class="uk-width-1-1">
                             <input    type="submit"  v-show="admission.$valid" class="md-btn md-btn-primary" value="Go"  />
                         </div>
                     </div>
                 </div>
             </div>

             </form>
         </div>
     </div>
 </div>
    </div>



{% endblock %}



{% block js %}




{% endblock %}
